---
---

@import url('https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css')

@import 'markdown_content'
@import 'syntax'
@import 'home'
@import 'quiz'

// To make the body not scroll when modal is open
body
  min-height: 100vh
  width: 100%

.focus:focus
  box-shadow: 0 0 0 3px rgba(66,153,225,.5)

.modal-container
  display: none

.modal-container[aria-hidden="false"]
  display: flex

.modal-container.wrong-password .modal
  border: 2px solid red

.modal
  background-color: white
  width: 30em
  border-radius: 4px
  height: 18em
  display: flex
  padding: 1em
  display: flex
  flex-direction: column
  justify-content: center

  label
    font-size: 18px

  button
    outline: none
    border: unset
    border-radius: 4px

  input, button
    @extend .focus

#spacesheep-site-password[aria-invalid="true"]
  box-shadow: 0 0 0 3px #E7040F


