<!doctype html>
<html class="no-js" lang="he" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/png" href="/assets/icon.png">

    {% seo %}
  </head>

  <body class="sans-serif">
    {{ content }}

    <!-- Password modal -->
    <div class="modal-container bg-black-60 fixed top-0 left-0 w-100 h-100 items-center justify-center" id="password-modal" aria-hidden="true">
      <div class="modal outline-0" tabindex="-1">
        <div role="dialog" aria-modal="true">
          <label class="b db mb3 dark-gray" for="spacesheep-site-password">
            סיסמת אתר
          </label>
          <p class="dark-gray lh-copy">
            אם אין לך סיסמת אתר, תוכל ליצור איתנו קשר בכתובת support@sheep16.org
          </p>
          <input
            class="db w-100 mb3 pa2 input-reset ba b--moon-gray outline-0 br2"
            type="password"
            name="spacesheep-site-password"
            id="spacesheep-site-password"
            aria-invalid="false"
          />
          <p id="wrong-password" class="dark-red dn">
            ✖️ סיסמא לא נכונה
          </p>
          <button
            id="submit-password"
            class="bg-purple b pointer ph3 pv2 white button-reset"
            type="submit"
          >
            כניסה לאתר
          </button>
        </div>
      </div>
    </div>

    <script src="/assets/js/seed-random.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
