---
layout: default
---

<div id="back-to-top" class="fixed bottom-0 left-0 ml2 mb2 pa2 bg-white z-999 ba b--blue br2">
  <a class="link blue pointer">
    &uarr; חזרה למעלה
  </a>
</div>

<main class="mv5 mw7 center pa4">
  <div class="relative pb4">
    <p class="tc gray">
      <a class="blue" href="/">
        כל השיעורים
      </a>
      &larr;
      <a class="blue" href="{{ page.url }}">
        {{ page.title }}
      </a>
    </p>
    <h1 class="f1 tc dark-gray">{{ page.title }}</h1>
    <div class="mw4 center bb b--moon-gray"></div>
  </div>
  <div class="lh-copy markdown-content">
    {{ content }}
  </div>
</main>

